.sidebar {
    background-color: #486969;
    color: #fff;
    width: 200px;
    height: 96vh;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;
    margin-top: 0px;
    margin-left: 0;
    float: left;
    overflow-y: hidden;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

.arrow-icon {
    margin-left: 30px;
    font-size: 16px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 10%;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.sidebar nav ul li:hover {
    background-color: #1e4b4b;
    opacity: 1;
    border-radius: 0%;
}

.auth_btn {
    padding-top: 100px;
    padding-bottom: 10px;

}

.sidebar nav ul p p a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.logo {
    height: 80px;
    width: 200px;
    position: relative;
    top: 0;
    background-color: #1e4b4b;
    border-radius: 0% 0% 0% 99%;
    border: 1px solid white;
}
.logo-cover {
    height: 110px;
    width: 201px;
    position: sticky;
    padding: 0;
    background-color: #1e4b4b;
    /* border-radius: 99% 0% 0% 0%; */
    border: 1px solid white;
}

.toggle-btn {
    display: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Adjust spacing as needed */
}

.toggle-btn:focus {
    outline: none; /* Remove focus outline */
}





@media screen and (max-width: 700px) {
    .sidebar  {
        width: 150px;
        height: 96vh;
    }
    .logo-cover {
        width: 150px;
    }
    .logo {
        width: 150px;
    }
    .auth_btn {
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
}

@media screen and (max-width: 750px) {
    .toggle-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;

    }

    .logo-small {
        height: 40px;
        width: 150px;
        position: relative;
        top: 0;
        background-color: #1e4b4b;
        border-radius: 0% 0% 0% 99%;
        border: 1px solid white;
    }
    .logo-cover-small {
        height: 70px;
        width: 151px;
        position: sticky;
        padding: 0;
        background-color: #1e4b4b;
        border: 1px solid white;
    }

    p p a {
        color: #fff;
        text-decoration: none;
        font-size: 10px;
    }

    .logo-cover {
        display: none;
    }


    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 20px 0;
        overflow-y: visible;
    }

    .sidebar nav ul {
        display: none; 
    }

    .sidebar nav ul li {
        margin: 10px 0;
        padding: 0;
    }

    .sidebar nav ul li a {
        display: block;
        padding: 10px;
        font-size: 16px;
    }

    .sidebar nav ul p p a {
        display: block;
        padding: 10px;
        font-size: 16px;
    }

    .sidebar nav ul li:hover {
        background-color: transparent; 
    }

    
    .sidebar.open nav ul {
        display: block;
    }
}