
.forget-password-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 15%; 
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .forget-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forget-password-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forget-password-form button {
    padding: 10px;
    background-color: #4bbea6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forget-password-form button:hover {
    background-color: #359681;
  }
  

@media screen and (max-width: 1725px) {
  .forget-password-container  {
      margin: 9% auto; 
  }
}

@media screen and (max-width: 360px) {
  .forget-password-container  {
      margin: auto; 
  }
}