.landing {
    text-align: center;
    margin-top: 200px;
  }
  
  .landing h1 {
    font-size: 2.5rem;
  }
  
  .landing p {
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 20px;
  }

  .login_button {
    padding: 15px;
    background-color: #2399b6;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15%;
    
  }

  .login_button:hover{
    padding: 15px;
    background-color: #158166;
    color: white;
    font-weight:initial;
    
  }
  
.imageClass {
  margin-bottom: 30px;
}