

.change-container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 15%; 
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .change-form {
    display: flex;
    flex-direction: column;
  }
  
  .change-form input {
    width: 80%;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #359681;
    border-radius: 5px;
  }
  
  .change-form button {
    padding: 10px;
    background-color: #359681;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .change-form button:hover {
    background-color: #4bbea6;
  }
  form div i {
    margin-left: 10px;
    border: 1px solid #359681;
    padding: 8px;
    border-radius: 20%;
    color: #359681;
  }
  


@media screen and (max-width: 1725px) {
    .change-container  {
        margin: 9% auto; 
    }
}

@media screen and (max-width: 360px) {
    .change-container  {
        margin: 20% auto; 
    }

    form div i {
        margin-left: 5px;
        border: 1px solid #359681;
        padding: 8px;
        border-radius: 20%;
        color: #359681;
      }

    .change-form input {
    width: 70%;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #359681;
    border-radius: 5px;
    }
}